@page
@model Balraj_Patient_System.Pages.Patient.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].FatherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].HealthIssue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthIssue)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
